.cover{
    min-block-size: 100vh; /* Fallback for older browsers */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@supports (min-block-size: 100dvh) {
    .cover {
        min-block-size: 100dvh; /* Override with dynamic viewport height if supported */
    }
}