@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Young Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
}

/* || RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
figure,
h1,
h2,
ul {
  margin-block-end: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --primary-blue: hsl(228, 45%, 44%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  background-color: var(--stone-100);
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--stone-600)
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.recipe {
  background-color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.recipe__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-block-end: 2.4rem;
}

.recipe__header h1,
.recipe__header p {
  padding-inline: 1.8rem;
}

h1 {
  color: var(--stone-900);
  font-family: "Young Serif", serif;
  font-size: 2.2rem;
  font-size: clamp(2.2rem, 3vw, 2.5rem);
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.02rem;
  margin-block-end: 1.3rem;
}

h2 {
  color: var(--brown-800);
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 1.78rem;
  margin-block-end: 1.12rem;
}

ul li,
ol li {
  display: grid;
  margin-block-end: 0.38rem;
}

ul li span strong,
ol li span strong {
  font-weight: 700;
}

.recipe__header p {
  line-height: 1.6;
  padding-inline-end: 1.9rem;
}

.recipe__time {
  padding-inline: 1.5rem;
}

.recipe__time-content {
  padding: clamp(1rem, 2vw, 1.5rem) clamp(2rem, 2vw, 2.4rem);
  background-color: var(--rose-50);
  border-radius: 0.625rem;
}

.recipe__time h2 {
  color: var(--rose-800);
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  margin-block-end: 1rem;
  margin-block-start: 0.2rem;
}

.recipe__time ul {
  padding-left: 0.5rem;
}

.recipe__time ul li {
  line-height: 1.58;
}

.recipe__time ul li::before {
  content: "•";
  color: var(--rose-800);
  font-weight: 700;
}

.recipe__time ul li {
  grid-template-columns: 1rem 1fr;
  column-gap: 1rem;
  align-items: center;
}

.recipe__ingredients {
  padding-inline: 1.8rem;
}

.recipe__ingredients ul li {
  grid-template-columns: 1.5rem 1fr;
  column-gap: 0.7rem;
  align-items: center;
}

.recipe__ingredients ul {
  padding-left: 0.5rem;
}

.recipe__ingredients ul li {
  line-height: 1.58;
}

.recipe__ingredients ul li::before {
  content: "■";
  font-size: 0.5rem;
  color: var(--rose-800);
}

.recipe__divider {
  border: none;
  border-top: 0.1rem solid var(--stone-150);
  margin-block-start: 2rem;
  margin-block-end: 0.1rem;
}

.recipe__instructions {
  padding-inline: 1.5rem;
}

.recipe__instructions ol {
  counter-reset: step-counter;
}

.recipe__instructions ol li {
  grid-template-columns: 1.5rem 1fr;
  column-gap: 1.2rem;
  padding-inline-end: 0.8rem;
  line-height: 1.52;
}


.recipe__instructions ol li::before {
  content: counter(step-counter) ".";
  counter-increment: step-counter;
  color: var(--brown-800);
  font-weight: 700;
  text-align: right;
}

.recipe__nutrition {
  padding-inline: 1.5rem;
}

.recipe__nutrition p {
  line-height: 1.6;
  margin-block-end: 0.8rem;
  padding-inline-end: 1rem;
}

.recipe__nutrition table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-block-end: 1.8rem;
}

.recipe__nutrition tr:not(:last-child) {
  border-bottom: 0.1rem solid var(--stone-150);
}

.recipe__nutrition td {
  padding: 0.8rem 0;
}

.recipe__nutrition td:first-child {
  font-weight: 400;
  padding-inline-start: 2rem;
  width: 51%;
}

.recipe__nutrition td:last-child {
  color: var(--brown-800);
  font-weight: 700;
  text-align: left;
  width: 49%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rec(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (min-width: 768px) {
  .layout {
    padding: clamp(8rem, 2vw, 10rem);
  }

  .recipe {
    padding: 2.5rem 2.5rem;
    max-width: 52svw;
    border-radius: 1.25rem;
    gap: 1.7rem;
  }

  .recipe__image img {
    border-radius: 0.625rem;
  }

  h1 {
    line-height: 1.2;
    letter-spacing: 0.001rem;
    font-size: 2.5rem;
  }

  .recipe__header h1,
  .recipe__header p, .recipe__time, .recipe__ingredients, .recipe__instructions, .recipe__nutrition {
    padding-inline: 0;
  }

  .recipe__time h2 {
    margin-inline-start: 0.3rem;
  }

  .recipe__ingredients ul li {
    grid-template-columns: 1.3rem 1fr;
    column-gap: 0.6rem;
    align-items: center;
  }

  .recipe__instructions ol li {
    line-height: 1.56;
  }

  .recipe__instructions ol li {
    grid-template-columns: 1.2rem 1fr;
    column-gap: 1.2rem;
  }

  .recipe__nutrition table {
    margin-block-end: 0;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--primary-blue);
}
