.link {
    color: var(--color-link);
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.15em;
}

.link:hover,
.link:focus-visible {
    text-decoration-thickness: 0.12em;
}

.link:focus-visible {
    outline: 2px solid var(--color-link);
    outline-offset: 2px;
}