  .layout {
    padding: clamp(8rem, 2vw, 10rem);
  }

  .recipe {
    padding: 2.5rem 2.5rem;
    max-width: 52svw;
    border-radius: 1.25rem;
    gap: 1.7rem;
  }

  .recipe__image img {
    border-radius: 0.625rem;
  }

  h1 {
    line-height: 1.2;
    letter-spacing: 0.001rem;
    font-size: 2.5rem;
  }

  .recipe__header h1,
  .recipe__header p, .recipe__time, .recipe__ingredients, .recipe__instructions, .recipe__nutrition {
    padding-inline: 0;
  }

  .recipe__time h2 {
    margin-inline-start: 0.3rem;
  }

  .recipe__ingredients ul li {
    grid-template-columns: 1.3rem 1fr;
    column-gap: 0.6rem;
    align-items: center;
  }

  .recipe__instructions ol li {
    line-height: 1.56;
  }

  .recipe__instructions ol li {
    grid-template-columns: 1.2rem 1fr;
    column-gap: 1.2rem;
  }

  .recipe__nutrition table {
    margin-block-end: 0;
  }